
#tracks {
    background:url("../img/fields.jpg");
    background-size: cover;
}

#contact {
    padding: 1em;
    border-radius: 1em;
}

div.small-4.columns{
    padding-top: 60px;
}

.panel h3, .panel h4{
    color:white;
}

#email{
	color: white;
	font-size: 12px;
}
.about p {
	color: white;
	font-size: 1.5em;
}