
#tracks {
    background:url("../img/fields.jpg");
    background-size: cover;
}

#contact {
    padding: 1em;
    border-radius: 1em;
}

p.small-4.columns{
    padding-top: 60px;
}

.panel h3{
    color:white;
}
