body {
    /*background-color: #f1f1f1;*/
    height: 100%;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    color:#666666;
    background: url("../img/black-light-background.png") no-repeat center center fixed;
    background-repeat: cover;
    /*background-color: #080808;*/
}
h1 {
    font-family: 'Arimo', sans-serif;
    color: white;
}
h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  margin-top: 1em !important;
  padding-bottom: 0.5em;
}
h3, h4 {
    /*font-family: "Arial Narrow", Arial, sans-serif;*/
    font-family: 'Arimo', sans-serif;
    padding: 5px 0;   
}
h4 {
    font-size: 1.5em; 
    color: #FFF !important;
}
.full-width {
    min-width: 100%;
}
.navigation-section, .top-bar, .tab-bar, .right-off-canvas-menu,
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #0A0B0D;
    font-family: 'Arimo', sans-serif;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.top-bar li {
    text-transform: uppercase;
}
.active a {
    background-color: #D8D8D8 !important;
    color: #000 !important;
}
.top-bar-section li:not(.has-form) a:hover:not(.button), .active a:hover {
    background-color: #22303A !important;
    color: #FFF !important;
}


footer {
    background-color: #D7D7EA;
    padding: 1em 0;
}
.copyright{
    background-color: #000;
}
.copyright-section {
    padding: 1em 0;
    text-align: center;
}

